@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    .header-nav ul {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
    }

    /*HERO*/
    .hero-image img {
        height: 50vh;
    }

    .hero-call-action {
        bottom: 1rem;
        left: 1rem;
    }

    .hero-call-action a {
        padding: 0.9rem 1.3rem;
        font-size: 0.95rem;
    }

    /*MAIN INDEX*/

    .top-grid-container {
        grid-template-columns: 2fr 1fr 1fr;
    }
    
    #member-spotlights {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .top-grid-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        gap: 1.5rem;
    }

    #member-spotlights {
        grid-template-columns: repeat(3, 1fr);
    }

    .join-container {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        gap: 3rem;
        align-items: start;
    }

    /* FOOTER */

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: left;
    }

    .footer-contact {
        grid-column: 1;
        justify-self: start;
    }

    .footer-logos {
        grid-column: 2;
        justify-self: center;
    }

    .footer-content {
        grid-column: 3;
        justify-self: end;
        text-align: right;
    }
        
}