
@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    .header-nav ul {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
        /* escritorio: dos columnas */
    }

    .courses-columns {
        grid-template-columns: repeat(3, 1fr);
        /* tres columnas en pantallas grandes */
    }
}