
@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    .header-nav ul {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    main {
        grid-template-columns: 1fr 1fr;        
        grid-template-areas:
            "title title"
            "about photo"
            "courses courses";
    }
    
    .about-me {
        grid-area: about;
    }
    
    .student-photo {
        grid-area: photo;
    }
    
    .web-courses {
        grid-area: courses;
    }

    .courses-columns {
        grid-template-columns: repeat(3, 1fr);
 
    }
}